.containerContatos{
  margin-top: 50px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContatos{
  width: 27.5px;
}

.bordaPulsar{
  width: 50px;
  height: 50px;
  margin: 0 5px;
  background: var(--principal);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: flutuar 4s infinite alternate;
  box-shadow: 0 2px 4px var(--principal-escuro), 0 8px 16px var(--principal-escuro);
}

.bordaPulsar:nth-child(2n){
  animation: flutuarAoContrario 4s infinite alternate;
}

.bordaPulsar:hover{
  filter: brightness(80%);
}

@keyframes flutuar{
  from{
    transform: translate3d(0, 4px, 0);
  }

  to{
      transform: translate3d(0, -4px, 0);
  }
}

@keyframes flutuarAoContrario{
  from{
    transform: translate3d(0, -4px, 0);
  }

  to{
      transform: translate3d(0, 4px, 0);
  }
}


@media screen and (max-width: 1000px){
  .containerContatos{
      width: 60%;
  }
}

@media screen and (max-width: 500px){
  .containerContatos{
      width: 100%;
  }
}
