.containerSkills{
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.divisaoSoftSkils, .divisaoHardSkils{
  background: var(--elementos);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
  position: relative;
  margin: 0px 15px;
}

.margemConteudoSkills{
  display: flex;
  justify-content: center;
  margin: 20px;
}


@media screen and (max-width: 800px){
  
  .containerSkills{
    width: 100%;
  }
}

@media screen and (max-width: 500px){
  
  .containerSkills{
    width: 100%;
    flex-wrap: wrap;
  }

  .divisaoSoftSkils, .divisaoHardSkils{width: 100%; margin: 0;}
  .divisaoSoftSkils{margin-bottom: 60px;}

  .margemConteudoSkills{
    width: 90%;
    justify-content: left;
  }
}
