.tituloSessao{
  width: 100%;
  display: flex;
  font-size: 22.5px;
  position: absolute;
  top: -35px;
  left: 0;
}

.variacao{justify-content: center;}

@media screen and (max-width: 500px){
  .variacao{justify-content: left;}
}