.containerCabecalho{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margemCabecalho{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.linksCabecalho{
  font-size: 17.5px;
  font-weight: bold;
  margin-left: 15px;
  text-decoration: none;
  position: relative;
  color: var(--titulo);
}

.linksCabecalho::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 0%;
  height: 2px;
  background: var(--textos);
  transition: 0.5s ease-in-out;   
}

.linksCabecalho:hover::after{
  width: 105%;
}

@media screen and (max-width: 1200px){
  .containerCabecalho{
      width: 100%;
  }
}