.seletorOrdem{
  height: 30px;
  position: absolute;
  top: -40px;
  right: 0;
  background-color: var(--principal);
  padding: 0 10px;
  border-radius: 7.5px;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.seletorOrdem:hover{background-color: var(--principal-escuro);}

.containerProjetos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  border-radius: 8px;
  position: relative;
  margin-top: 75px;
}

.projeto{
  width: 23.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--elementos);
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
  margin-left: 2%;
  margin-bottom: 30px;
  border-radius: 10px;
}

.projeto:nth-child(4n + 3){
  margin-left: 0;
}


.margemProjeto{
  width: 90%;
  margin: 25px 0;
}

.divisaoDetalhes, .divisaoBotoes{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.divisaoBotoes{
  flex-direction: row;
  justify-content: center;
}

.tituloProjeto{
  text-align: center;
  font-family: ZonaPro;
}

.prazo{margin: 15px 0; text-align: center;}

.descricao{
  background-color: var(--fundo);
  color: var(--textos);
  padding: 10px;
  border-radius: 5px;
}

.tecnologias{
  margin: 15px 0;
  padding-left: 15px;
}

.divisaoBotoe{
  display: flex;
  justify-content: center;
}

.btnProjeto{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--principal);
  color: #fff;  
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 2px 4px var(--principal-escuro), 0 8px 16px var(--principal-escuro);
  margin: 0 7.5px;
}

.btnProjeto:hover{
  filter: brightness(80%);
}

.iconProjeto{
  width: 20px;
}


@media screen and (max-width: 1000px){
  .projeto{
    width: 32%;
  }

  .projeto:nth-child(4n + 2){
    margin-left: 0;
  }

  .projeto:nth-child(7n){
    margin-left: 2%;
  }
}

@media screen and (max-width: 800px){
  
  .containerProjetos{justify-content: space-between;}

  .projeto, .projeto:nth-child(3n + 2), .projeto:nth-child(7n){
    margin: 0 0 30px 0;
    width: 48%;
  }
}


@media screen and (max-width: 500px){
  .projeto, .projeto:nth-child(3n + 2), .projeto:nth-child(7n){
      width: 1000%;
  }
}