@font-face {
  font-family: ZonaPro;
  src: url(../src//assets/fonts/ZonaPro-Bold.otf);
}


body{
  margin: 0;
  padding: 0;
}

p, h1, h2, a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--textos);
  font-size: 15px;
  text-decoration: none;
  margin: 0;
}

h1{
  color: var(--titulo);
}

a:hover{
  color: var(--textos);
}

ul{
  margin: 0;
  padding-left: 15px;
}

li{color: var(--principal)}

:root{
  --principal: rgb(136, 118, 255);
  --principal-escuro: rgb(103, 89, 193);
}


.temaClaro:root{
  --fundo: rgb(251, 249, 255);
  --elementos: #ffffff;
  --titulo: #2d2d2d;
  --textos: rgb(141, 141, 141);
  --sombra: #00000013;
  --circulo: rgb(234, 230, 255);
  --a: rgb(136, 118, 255);
  --b: #fff
;}

.temaEscuro:root{
  --fundo: rgb(33, 33, 33);
  --elementos: rgb(53, 53, 53);
  --titulo: #fff;
  --textos: #efefef;
  --sombra: rgb(136, 118, 255, 0.15);
  --circulo: rgb(136, 118, 255);
  --a: #fff;
  --b: rgb(136, 118, 255);
}